body{
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1e1e1e;
  padding: 3dvh 40px;
  margin-bottom:5dvh;
  position:fixed;
  min-width:100dvw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
} */

.nav-links {
  list-style: none;
  display: flex;
  gap: 3dvw;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #4da6ff;
}
.home-sec{
  padding-top:12dvh;
  min-height:100dvh;
}
#home{
  /* padding-top:dvh; */
}